
.*
!.gitkeep
!.gitignore
tags

*~
*.back
# patch command backup file
*.rej
*.orig

# cash
*~

# tmporary
tmp/
temp/
gabage/
work/
log/
object/

# doxygen
doxygen/

*.txt

*.mp4
*.zip

#
node_modules/
package-lock.json

#
output*

